@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #222;
  background-color: #E0EEEE;
}
p {
  font-family: 'Merriweather', serif;
  margin: 0 auto;
}
h3 {
    text-align: center;
}
.navbar {
  text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-nav li {
  padding: right 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
/*CASE STUDIES NAVBAR*/
.dropdown-menu {
  width: fit-content;
  margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
    color: white !important;
}
.dropdown-menu:hover {
  background-color: rgba(0, 0, 0, 0.6)!important;
}
.dropdown-menu:active {
  color: red;
}

/*Jumbotron and Display Styling*/
.jumbotron {
    background: url("../img/vagabond_jumbo.jpeg") center center / cover no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
        }

.display-4 {
  position: relative;
  top: 20%;
  transform: translateY(-50%);
  font-size: 4em;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 15px #000;
  margin: 20px auto 20px auto;
  text-align: center;
}

.lead {
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
  margin-top: 40px;
  text-align: center;
}
.btn {
  text-transform: uppercase;
}

/*Button styling import from main*/
.buttonHolder {
    text-align: center;
}
.btn-primary {
  background-color: #32cd32;
  border: 1px solid #32cd32;
}
.btn-primary:hover {
  background-color: #196619;
  border: 1px solid #196619;
  cursor: pointer;
}
.btn-outline-secondary {
    background-color: #32cd32;
    border: 1px solid #32cd32;
    color: white;
}
.btn-outline-secondary:hover {
    background-color: #196619;
    border: 1px solid #196619;
    cursor: pointer;
}

hr {
    border-top: 2px solid #B4B4B4;
    width: 100%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.imgblock img {
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  margin-bottom: 0px;
}
/*CONTENT STYLING*/
h1.display-1 {
  text-align: center;
  font-size: 2.2em;
  color: black;
  text-shadow: #32cd32;

}

h2.display-5 {
  font-size: 160%;
  color: black;
  text-align: left;
  margin-left: 20px;
}

.row {
  padding: 0;
  margin: 0;
}
.underline {
  width: 95%;
  height: 2px;
  background-color: #32cd32;
  margin-bottom: 8px;
}

.whitebox {
  height: auto;
  width: auto;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  padding: 20px;
  margin: 40px;
}
.img-fluid {
  width: 100%;
  height: auto;
  padding: 0px 20px 0px 20px;
  margin-top: 40px;
  position: relative;

}

.style-block1 {
  height: 75px;
  width: auto;
  margin-top: -30px;
  margin-bottom: 40px;
  z-index: -1;
  background-color: #30d672;
}

.content {
  font-size: 1.2em;
  text-align: left;
  font-family: 'Merriweather', serif;
}
figcaption {
  padding-left: 0px;
  font-style: italic;
  font-size: .8em;
  margin-bottom: 44px;
  text-align: left;
}
.imgblock2 img {
  width: 48.5%;
  height: auto;
  position: relative;
  margin-top: 44px;
  margin-bottom: 0px;
  padding: 0px 38px 0px 38px;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}



/*IMAGE MODAL SCRATCH PAD TEST*/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100%;
  align-content: center;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*FOOTER BIT*/
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }

/*  MEDIA QUERIES FOR LATER*/
@media (max-width: 992px) {
    .social a {
    font-size: 4em;
    padding: 2rem;
  }

  }
@media (max-width: 768px) {
   .carousel-caption {
      top: 45%;
    }
    .carousel-caption h1 {
      font-size: 3.5em;
    }
    .carousel-caption h3 {
      font-size: 1.4em;
      font-weight: 400;
      padding-bottom: .2rem;
    }
    .carousel-caption .btn {
      font-size: .95em;
      padding: 8px 14px;
    }

    .display-4 {
      font-size: 2em;
    }
    .social a {
      font-size: 2.5em;
      padding: 1.2rem;
}
}
@media (max-width: 576px) {
    /*.carousel-caption {
  top: .4em;
    }*/
  .carousel-caption h1 {
  font-size: 2.5em;
}
}}